{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} <center> Author list </center> {% endblock %}</h1>
    {% for author in authors %}
            <h1>
            <ul>    <li>
            {{loop.index}}
            Author name : {{ author.name }}</li> </ul>
            </h1>
            {% for book in books %}
                {% if book.authorid == author.authorid %}
                 <ol>   <li>Author book : {{ book.title }}</li></ol>
                {% endif%}
            {% endfor %}
            <li>Author priority : {{ author.priority }}</li>
            <br>
            
        <span class="badge badge-primary">{{ author['created'] }}</span>
        <hr>
        <a href="{{ url_for('editauthor',  id=author.authorid) }}">Edit Author</a>
        <a href="{{ url_for('createauthor') }}">Create Author</a>
    {% endfor %}
{% endblock %}